<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Los 40 locales esenciales de Outbarriers">
    <meta name="author" content="Outbarriers">
  <title> {% block title %} Los 40 de Outbarriers {% endblock %}</title>
  {% load staticfiles %}
  <!-- Bootstrap Core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">

  <!-- Custom CSS -->
    <link href="{% static "css/outbarriers.css" %}" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
  {% load staticfiles %}

    <section class="container">
      <header class="row">
        <div class="col-lg-12">
            {% block header%}
                <h1 class="page-header">Los 40 de Outbarriers</h1>
            {% endblock%}
        </div>
      </header>
      <section class="row">
        {% block content %}
        <div class="row">
           <div class="col-md-3 item">
               <a href="#">
                   <img class="img-responsive" src="http://placehold.it/250x150" alt="">
               </a>
           </div>
           <div class="col-md-3 item">
               <a href="#">
                   <img class="img-responsive" src="http://placehold.it/250x150" alt="">
               </a>
           </div>
           <div class="col-md-3 item">
               <a href="#">
                   <img class="img-responsive" src="http://placehold.it/250x150" alt="">
               </a>
           </div>
           <div class="col-md-3 item">
               <a href="#">
                   <img class="img-responsive" src="http://placehold.it/250x150" alt="">
               </a>
           </div>

       </div>
       {% endblock %}
      </section>
      <footer class="row">

          <div class="col-md-4 col-lg-4">
            <img src="{% static "images/twitter.png" %}" alt="Siguenos en Twitter" />
            <img src="{% static "images/facebook.png" %}" alt="Siguenos en Facebook" />
          </div>
          <div class="col-md-4 col-lg-4">
            <img class="center-block" src="{% static "images/los-40-esenciales.png" %}" class="img-responsive" alt="Los 40 esenciales" />
          </div>
          <div class="col-md-4 col-lg-4">
            <img class="pull-right" src="{% static "images/logo_outbarriers.png" %}" class="img-responsive" alt="Outbarriers" />
          </div>
      </footer>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
