{% extends 'base.html' %}
{% load staticfiles %}

{% if ficha %}
  {% block header %}
      <h1 class="pull-right">{{ ficha.name }}</h1>
  {% endblock%}

  {% block content %}
    <div class="row border-line">
    <div class="col-md-6 border-right">
      <div class="row">
        <img src="/static/{{ ficha.image.url }}" class="img-responsive center-block" alt="{{ ficha.name }}" />
        <!-- <img src="{% static "ficha/imagenes/mapa.png" %}" class="img-responsive center-block" alt="{{ ficha.name }}" />-->
      </div>
      <div class="row">
        <img src="{% static "images/mapa.png" %}" class="img-responsive center-block" alt="{{ ficha.name }}" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <h1 class="page-header pull-right">{{ ficha.get_kind_display }}</h1>
      </div>
      <div class="row">
        <p>{{ ficha.description }}</p>
      </div>
      <div class="row">
        {% if ficha.tags %}
        <p>
          {% for t in ficha.tags.all %}
            {{ t.name }}
          {% endfor %}
        </p>
        {% else %}
          <p></p>
        {% endif%}
      </div>
    </div>

  </div>
  {% endblock %}

{% else %}
  <p>No hay datos para este local.</p>
{% endif %}
