{% extends 'base.html' %}

{% block content %}
{% if fichas %}
  {% for f in fichas %}
    <div class="col-md-3 item">
      <a href="{{ f.slug }}">
          <img class="img-responsive" src="/static/{{ f.logo.url }}" alt="{{ f.name }}">
      </a>
    </div>
  {% endfor %}
{% else %}
    <p>No hay locales disponibles.</p>
{% endif %}
{% endblock %}
